main {
    padding: var(--padding-sm) var(--padding-sm);
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));    

    & a {
        transition: filter .2s linear;

        &:hover {
            filter: drop-shadow(0 0 .25rem var(--brand-color));
        }
    }

    @media (width >= 41em) {
        & {
            padding: var(--padding-md) var(--padding-lg);
            gap: 1.5rem;
        }
    }
}