main {
    padding: var(--padding-block-sm) var(--padding-inline-sm);
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));    

    & a:hover {
        transition: filter 0.15s ease;
        filter: drop-shadow(0 0 .25rem var(--brand-color));
    }

    @media (width >= 41em) {
        & {
            padding: var(--padding-block-md) var(--padding-inline-lg);
            gap: 1.5rem;
        }
    }
}