nav {
    padding: var(--padding-sm) var(--padding-sm);
    font: var(--text-md);

    & #logo {
        font: var(--heading-sm);
        color: var(--brand-color);
    }
    
    & #profile-pic img {
        width: 2.5rem;
        height: 2.5rem;
    }
    
    & #buttons {
        & #explore:hover {
            & svg path {
                transition: fill .15s linear;
                fill: var(--brand-color);
            }
    
            & span {
                transition: color .15s linear;
                color: var(--brand-color);
            }
        }
        
        & #my-travels:hover {
            transition: color .15s linear;
            color: var(--brand-color);
        }
    
        & #profile-pic:hover {
            transition: filter .15s linear;
            filter: drop-shadow(0 0 .18rem var(--brand-color));
        }
    }
    
    @media (width >= 41em) {
        & {
            padding: var(--padding-md) var(--padding-lg);
        }
    }
}
