.container {
    --max-width: auto;
    width: var(--max-width);
    margin-inline: auto;
}

.desktop-only {
    display: none;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.gap-0\.5 {
    gap: .5rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-1\.5 {
    gap: 1.5rem;
}

.gap-2 {
    gap: 2rem;
}

.items-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

@media (width >= 32em) {
    .container {
        /* --max-width: 80rem; */
    }

    .desktop-only {
        display: initial;
    }
}