/* .padding-inline-sm {
    padding-inline: var(--padding-inline-sm);
}

.padding-inline-lg {
    padding-inline: var(--padding-inline-lg);
}

.padding-block-sm {
    padding-block: var(--padding-block-sm);
}

.padding-block-md {
    padding-block: var(--padding-block-md);
}

.padding-block-lg {
    padding-block: var(--padding-block-lg);
} */

.container {
    --max-width: 22.5em;
    --max-width: auto;
    width: var(--max-width);
    margin-inline: auto;
}

.desktop-only {
    display: none;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.gap-0\.5 {
    gap: .5rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-1\.5 {
    gap: 1.5rem;
}

.gap-2 {
    gap: 2rem;
}

.items-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

@media (width >= 32em) {
    .container {
        /* --max-width: 80rem; */
    }

    .desktop-only {
        display: initial;
    }
}